<p>
  Press key `f` to see if keyboard shortcuts is working, it should trigger an alert.
</p>

<input
  type="text"
  placeholder="Pressing `f` in input should not trigger action"
  style="width: 300px; height: 25px;">
