<h2 id="title">Welcome to ember-keyboard-shortcuts</h2>

<ul>
  <li>
    {{#link-to 'index'}}Page with a shortcut enabled{{/link-to}}
  </li>
  <li>
    {{#link-to 'using-in-components'}}Shortcuts in a component{{/link-to}}
  </li>
  <li>
    {{#link-to 'no-shortcuts'}}Page without any shortcut enabled{{/link-to}}
  </li>
</ul>

{{outlet}}
