{{outlet}}
<p>
  Press key `s` to see if keyboard shortcuts is working, it should trigger an alert.
</p>

{{! template-lint-disable no-inline-styles }}
<input
  type="text"
  placeholder="Pressing `s` in input should not trigger action"
  style="width: 300px; height: 25px;"
>
